@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {

font-family: Roboto;
font-size: 18px;
color: #E5E7EB; 
display:flex;
flex-direction: column;
align-items:center;
}

img {
border-radius:16px;
}


ul {
list-style-type: none;
margin:0px;
padding:0px;
display:flex;
margin-left:auto;
gap:16px;
align-items:center;


}

a {
text-decoration: none;
color: white;
}

.first-qtr {
background-color: #1F2937;

}

.fish-logo {
display:flex;
flex:1;
align-items: center;
}

.header-logo {
font-size: 24px;
font-weight:600;
}

.first-qtr img {
max-height:197px;
}
 
.first-qtr .fishy {
max-width:75px;
}

.info {
display:flex;
border:10px solid blue;
padding-bottom:70px;
}

.left-info {
max-width:800px;

}



.info .large-text {
font-size:48px;
color:#F9FAF8;
font-weight:800;
flex-wrap:wrap;
}


.fishing-pic {
margin-left:auto;
}

.left-info button {
    background-color: #3882F6;
    padding:8px 16px;
    border-radius: 8px;
    font-size:18px;
    color:white;

}

/* SECOND QUARTER CODE */













.footer {
background-color: #1F2937;
}

