@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {

font-family: Roboto;
font-size: 18px;
display:flex;
flex-direction: column;
align-items:center;

}

img {
border-radius:16px;
}


ul {
list-style-type: none;
margin:0px;
padding:0px;
display:flex;
margin-left:auto;
gap:16px;
align-items:center;


}

a {
text-decoration: none;
color: white;
}

.first-qtr {
color:white;
background-color: #1F2937;
padding: 16px 200px;


}

.fish-logo {
display:flex;
flex:1;
align-items: center;
}

.header-logo {
font-size: 24px;
font-weight:600;
}

.first-qtr img {
max-height:197px;
}
 
.first-qtr .fishy {
max-width:75px;
}

.info {
display:flex;
padding-bottom:70px;
}

.left-info {
max-width:800px;
margin-right:20px;

}



.info .large-text {
font-size:48px;
color:#F9FAF8;
font-weight:800;
flex-wrap:wrap;
}


.fishing-pic {
margin-left:auto;
}

.left-info button {
    background-color: #3882F6;
    padding:8px 16px;
    border-radius: 8px;
    font-size:18px;
    color:white;

}

/* SECOND QUARTER CODE */

.second-qtr {
padding:16px;
text-align:center;
color: #1F2937;
margin-top:32px;
}

.second-qtr .img-info {
font-size:36px;
font-weight:800;
margin-bottom:32px;
}

.second-qtr .container {
display:flex;
justify-content:space-between;
gap:24px;
padding: 16px 200px 100px;

}

.img img {
    width:300px;
    border:10px solid lightblue;
}

/*THIRD QUARTER QUOTE CODE */

.third-qtr {
background-color: #E5E7EB;
display:flex;
flex-direction:column;
font-size:36px;
color: #1F2937;
font-style: italic;
padding-top:100px;
padding-bottom:100px;


}

.third-qtr .quote {
margin-left:300px;
margin-right:300px;
margin-bottom:30px;
}

.third-qtr .author {
align-self:flex-end;
margin-right:300px;
font-size:20px;
font-weight:800;
}

/* FOURTH QUARTER CODE */

.fourth-qtr {
display:flex;
color:white;
background-color: #3882F6;
border-radius:16px;
padding:75px 0px;
margin-left:300px;
margin-right:300px;
margin-top: 75px;
margin-bottom: 75px;
}

.words {
display:flex;
flex-direction:column;
margin-left:20px;
margin-right:auto;
}

.fourth-qtr .button {
margin-right:200px;
align-self:flex-end;
}

.fourth-qtr button {
background-color: #3882F6;
border:2px solid white;
border-radius:4px;
color:white;
font-size: 18px;
padding: 5px 20px;
}

.footer {
background-color: #1F2937;
text-align:center;
}

